@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Neucha&display=swap');
.content{
	background-color: #88e3d7;
	width: 1200px;
	margin: 0 auto;
}
img{
	max-height: 100%;
	max-width: 100%;
}
.row {
	display: flex;
}
.box {
	width: 100px;
	flex-grow: 1;
	background-color: #edd6ff;
	margin: 15px;
}
.col-1 {
	flex-grow: 1;
	text-align: center;
}
.col-3 {
	flex-grow: 2;
}
p{
	
    font-family: 'Neucha', cursive;

}
div{
	font-family: 'Amatic SC', cursive;
}
iframe{
	width: 100%;
	height: 100%;
}